.LandingBanner {
    background-color: #FEFEFE;
    height: 10vh;
    width: 100%;
    font-family: 'Questrial', sans-serif;
    padding: 10px;
    display: flex;
}

.title-text {
    width: 50%;
}

.title-text h1 {
    font-size: 4em;
    color: #3769E5;
    text-align: left;
    font-family: 'Love Ya Like A Sister', cursive;
}

.SearchBar {
    width: 50%;
    margin: 0 auto;
}

.SearchBar input {
    height: 80%;
    width: 80%;
}