.LandingBanner {
    background-color: #3769E5;
    height: 10vh;
    font-family: 'Questrial', sans-serif;
    padding: 10px;
}

.LandingBanner h1 {
    margin: 0 auto;
    font-size: 4em;
    color: #FEFEFE;
    text-align: left;
    font-family: 'Love Ya Like A Sister', cursive;
}