.nav-links ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.nav-links ul > li {
  display: inline-block;
  margin: .5em 8em;

}

.nav-links a {
  color: #303030;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
