.nav-links ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.nav-links ul > li {
  display: inline-block;
  margin: .1em 3.5em;
}

.nav-links a {
  color: #303030;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.NavBar {
  display: flex;
  width: 100%;
  height: 10vh;
}

.title-text {
  width: 40%;
  background: #FEFEFE;
  padding-left: 1em;
}

.nav-links {
  width: 60%;
  background: #FEFEFE;
  padding-top: 1.5em;
}

.title-text h1 {
  font-size: 3em;
  color: #3660FB;
  text-align: left;
  font-family: 'Love Ya Like A Sister', cursive;
}

